.form-button {
    height: 4.0rem;
    margin-right: 1.2rem;
    border-radius: 0.8rem;
    padding: 0 1.5rem;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-text-white);
    cursor: pointer;
}

.form-button--primary {
    background-color: var(--color-primary);
}

.form-button--tertiary {
    background-color: var(--color-tertiary);
}
