.app-layout__container--vertical {
    width: 100%;
    height: 100%;

    display: flex;
}

.app-layout__container--horizontal {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.app-layout__view {
    flex-grow: 1;

    overflow-y: scroll;
}
