.icon-button__container {
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
}

.icon-button__container>svg {
    width: 100%;
    height: 100%;
}

.setup-actions-row {
    display: flex;
}
.setup-actions-row>* {
    margin-right: 1.2rem;
}
